<br>
<br>

**Population Densities & Missing Years**

<br>

## Setting Up

In [1]:
setwd(base::dirname(getwd()))
getwd()

[1] "J:/library/helminthiases/spatial"

<br>

## Functions

A data frame for each map year

In [2]:
#' @describe For a given year, this function extracts the estimated population density, per longitude & latitude 
#'           pair, from the year's world population dentsity map
#'
#' @param year: The year of interest.
#' @param root: The location of the year's map file.
#' @param affix: The affix of the map file name.
#' @param frame: A data frame consisting of the longitude & latitude points of interest
#' 
temporary <- function (year, root, affix, frame) {

  # map
  path <- file.path(root, paste0(year, affix))
  map <- terra::rast(file.path(path))

  # The longitude & latitude points
  points <- frame[, c('longitude', 'latitude')]

  # Variable values w.r.t. ...
  derivations <- terra::extract(x = map, y = points, method = 'bilinear', xy = TRUE)
  row.names(derivations) <- row.names(frame)

  # Drop the record number field, i.e., drop <ID>
  derivations <- base::subset(x = derivations, select = -ID)

  # The field names
  estimate <- colnames(derivations)[startsWith(colnames(derivations), prefix = 'gpw_v4_')]
  derivations <- dplyr::rename(derivations, 'estimate' = dplyr::all_of(estimate), 'longitude' = 'x', 'latitude' = 'y')

  # unique observation code
  derivations$id <- frame$id

  # year
  derivations$year <- as.integer(year)

  return(list(derivations))

}

<br>

## Density Estimates

### The Experiments

The list of experiment files

In [3]:
files <- list.files(path = file.path(getwd(), 'warehouse', 'ESPEN', 'experiments', 'extended'),
                    full.names = TRUE)

<br>

A sample file

In [4]:
frame <- read.csv(file = files[3])
str(frame)

'data.frame':	357 obs. of  42 variables:
 $ iso3            : chr  "BDI" "BDI" "BDI" "BDI" ...
 $ iso2            : chr  "BI" "BI" "BI" "BI" ...
 $ admin1_id       : int  706 715 702 717 710 710 709 717 705 705 ...
 $ admin2_id       : int  6389 6414 6378 6418 6402 6402 6396 6419 6387 6387 ...
 $ iu_id           : int  6389 6414 6378 6418 6402 6402 6396 6419 6387 6387 ...
 $ location        : chr  "bitare" "buhiga ii" "buhina" "buhonga" ...
 $ site_id         : int  NA NA 10243 NA NA 10373 NA NA NA 10314 ...
 $ longitude       : num  29.3 29.8 29.4 30.3 30.1 ...
 $ latitude        : num  -2.88 -2.91 -3.45 -3.65 -2.69 ...
 $ georeliability  : int  1 3 1 1 1 1 3 1 3 3 ...
 $ location_type   : chr  "school" "school" "" "school" ...
 $ survey_type     : chr  "mapping" "mapping" "" "mapping" ...
 $ year            : int  2014 2016 2014 2014 2014 2014 2014 2014 2014 2014 ...
 $ age_start       : int  12 13 NA 12 12 NA 13 12 12 NA ...
 $ age_end         : int  14 14 NA 16 15 NA 14 16 15 NA ...
 $ hk_examined     : int  50 50 47 50 50 50 50 50 50 50 ...
 $ hk_positive     : int  2 0 0 1 1 1 2 2 7 6 ...
 $ asc_examined    : int  50 50 47 50 50 50 50 50 50 50 ...
 $ asc_positive    : int  3 9 12 1 2 1 4 3 0 0 ...
 $ tt_examined     : int  50 50 47 50 50 50 50 50 50 50 ...
 $ tt_positive     : int  0 24 9 0 0 0 0 0 0 0 ...
 $ quality         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ sn              : int  23394 23577 18499 23613 23476 18630 23438 23623 23371 2185 ...
 $ hk_prevalence   : num  0.04 0 0 0.02 0.02 0.02 0.04 0.04 0.14 0.12 ...
 $ asc_prevalence  : num  0.06 0.18 0.255 0.02 0.04 ...
 $ tt_prevalence   : num  0 0.48 0.191 0 0 ...
 $ sth_prevalence  : num  0.0921 0.5411 0.3754 0.0374 0.0558 ...
 $ shortest        : num  7594 5575 5123 6853 0 ...
 $ id              : int  0 1 2 3 4 5 6 7 8 9 ...
 $ src             : int  0 1 2 3 4 5 6 7 8 9 ...
 $ dst             : int  0 1 2 3 5 4 6 7 9 8 ...
 $ identifier      : int  1 2 3 4 5 5 6 7 8 8 ...
 $ improved_sewer  : num  41.73 52.48 72.43 65.29 8.77 ...
 $ unpiped_sewer   : num  40.45 37.53 72.36 65.11 8.63 ...
 $ surface_sewer   : num  0.954 4.032 0.091 0.406 6.376 ...
 $ piped_sewer     : num  1.2818 14.9586 0.0723 0.1864 0.1328 ...
 $ unimproved_sewer: num  57.3 43.5 27.5 34.3 84.9 ...
 $ improved_water  : num  68.6 78.2 82.9 63.1 98.9 ...
 $ unpiped_water   : num  33.5 64.5 36.7 45 71.8 ...
 $ surface_water   : num  1.386 0.268 0.646 21.554 0.365 ...
 $ piped_water     : num  35.2 13.7 46.2 18.1 27.1 ...
 $ unimproved_water: num  29.985 21.522 16.42 15.302 0.706 ...

<br>

### Experiment Co&ouml;rdinates & Density Estimates


Arguments

In [5]:
years <- seq(from = 2000, to = 2020, by = 5)
root <- file.path(getwd(), 'data', 'population')
affix <- '_30s.tif'

<br>

Next, extracting population density estimates, per map year, from the 

* [`geodata`](https://github.com/rspatial/geodata#data): The `geodata` population density maps are [accessible directly](https://geodata.ucdavis.edu/geodata/pop/), and are the Gridded Population of the World maps.
* [Gridded Populations of the World](https://sedac.ciesin.columbia.edu/data/collection/gpw-v4/documentation)

Map year estimates only exist for the years $2000,2005, 2010, 2015, 2020$

In [6]:
estimates <- mapply(FUN = temporary, year = years, MoreArgs = list(root = root, affix = affix, frame = frame))
estimates <- dplyr::bind_rows(dplyr::all_of(estimates))
row.names(estimates) <- NULL

In [7]:
str(estimates)

'data.frame':	1785 obs. of  5 variables:
 $ estimate : num  203 392 808 132 381 ...
 $ longitude: num  29.3 29.8 29.4 30.3 30.1 ...
 $ latitude : num  -2.88 -2.91 -3.45 -3.65 -2.69 ...
 $ id       : int  0 1 2 3 4 5 6 7 8 9 ...
 $ year     : int  2000 2000 2000 2000 2000 2000 2000 2000 2000 2000 ...

<br>

### Interpolations

A set of observations that share the same longitude/latitude co&ouml;rdinates

In [8]:
partition <- estimates[estimates$id == 0, c('year', 'estimate')]

<br>

Missing years

In [9]:
missing <- seq(from = 2000, to = 2020)
missing <- missing[!(missing %in% years)]

<br>

Interpolation

In [10]:
extra <- stats::spline(x = partition$year, y = partition$estimate, method = 'natural', xout = missing)
extra <- data.frame(extra)
extra <- dplyr::rename(extra, 'year' = 'x', 'estimate' = 'y')
extra$year <- as.integer(extra$year)

<br>

Collating

In [11]:
extra <- rbind(partition[, c('year', 'estimate')], extra)
extra

     year estimate
1    2000 202.8000
358  2005 219.6000
715  2010 237.9000
1072 2015 257.7000
1429 2020 279.2000
17   2001 206.0976
2    2002 209.4108
3    2003 212.7552
4    2004 216.1464
5    2006 223.1280
6    2007 226.7280
7    2008 230.3940
8    2009 234.1200
9    2011 241.7304
10   2012 245.6172
11   2013 249.5688
12   2014 253.5936
13   2016 261.8920
14   2017 266.1560
15   2018 270.4740
16   2019 274.8280

<br>

Arranging

In [12]:
extra <- extra[with(extra, order(year, estimate)), ]
extra

     year estimate
1    2000 202.8000
17   2001 206.0976
2    2002 209.4108
3    2003 212.7552
4    2004 216.1464
358  2005 219.6000
5    2006 223.1280
6    2007 226.7280
7    2008 230.3940
8    2009 234.1200
715  2010 237.9000
9    2011 241.7304
10   2012 245.6172
11   2013 249.5688
12   2014 253.5936
1072 2015 257.7000
13   2016 261.8920
14   2017 266.1560
15   2018 270.4740
16   2019 274.8280
1429 2020 279.2000